.advantages {
  position: relative;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-top: 32px;
}

.advantages__item {
  display: block;
  margin-bottom: 29px;
  padding-left: 5px;
  width: 250px;
  text-align: left;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; 
  color: #000000;
}

.advantages__item--home::after {
  content:"";
  position: absolute;
  top: 22px;
  left: 0px;
  width: 37px;
  height: 36px;
  
  background-repeat: no-repeat;
  background-image: url("../img/icon-house37x36.svg");
}

.advantages__item--souvenires::after {
  content:"";
  position: absolute;
  top: 151px;
  left: 6px;
  width: 32px;
  height: 38px;
  
  background-repeat: no-repeat;
  background-image: url("../img/icon-gift32x38.svg");
}

.advantages__item--meal::after {
  content:"";
  position: absolute;
  top: 268px;
  left: 0px;
  width: 40px;
  height: 35px;
  
  background-repeat: no-repeat;
  background-image: url("../img/icon-burger40x35.svg");
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase; 
  color: #333333;
}
