.bridge {
  display: inline-block;
  padding-top: 20px;
  width: 320px;
  height: 171px;
  margin-top: 12px;
  color: #ffffff;
  text-align: center;
  background-color: @blue;
}

.bridge__title {
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.bridge__number {
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
}

.bridge__recomendation {
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
