.bridge {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  padding-top: 40px;
  width: 320px;
  color: #ffffff;
  text-align: center;
  background-color: @blue;
}

.bridge__wrap {
  margin: 0;
  padding: 0;
}

.bridge__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.bridge__title br {
  display: none;
}

.bridge__number {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
}

.bridge__recomendation {
  display: block;
  margin-bottom: 40px;
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.bridge__picture {
  margin: 0;
  padding: 0;
}

.bridge__picture1 {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .bridge {
    display: flex;
    margin: 0;
    padding: 0;
    width: 768px;
    height: 256px;
  }

  .bridge__picture {
    order: -1;
    width: 512px;
    height: 256px;
  }

  .bridge__wrap {
    display: block;
    min-width: 255px;
    height: 256px;
    padding-top: 46px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .bridge__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: @large-font;
  }

  .bridge__number {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
  }

  .bridge__recomendation {
    display: block;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .bridge {
    width: 1200px;
    margin: 0;
    padding: 0;
  }

  .bridge__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 52px 80px 0;
  }

  .bridge__title {
    display: block;
    width: 150px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .bridge__number {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
  }

  .bridge__recomendation {
    display: block;
    width: 233px;
    margin: 0;
    padding: 0;
  }

  .bridge__recomendation br {
    display: none;
  }

  .bridge__picture {
    width: 798px;
  }

  .bridge__picture1 {
    width: 798px;
    height: 256px;
  }
}
