.contacts {
  border: none;
}
.contacts__title {
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.contacts__tel {
  font-size: @medium-font;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.contacts__email {
  font-size: @little-font;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}
