.customer {
  border: none;
}

.customer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.customer__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.customer__surname {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}

.customer__patronymic {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}