.discription {
  border: none;
}

.discription__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.discription__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;

  text-transform: none;
  color: #000000;
}
