footer {
  display: block;
  width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 33px;

  min-height: 233px;
}

.footer__copyright {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 44px;
}

.footer__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: @large-font;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    width: 768px;
    height: 120px;
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 434px;
    height: 120px;
    padding-top: 26px;
  }

  .footer__title {
    margin-top: 12px;
    margin-left: 30px;
  }

  .footer__copyright {
    width: 255px;
    height: 120px;
    padding-top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    display: flex;
    width: 1200px;
    padding: 0;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 681px;
    margin: 0;
    padding: 0;
    padding-top: 32px;
  }

  .footer__title {
    margin-left: 120px;
  }

  .footer__copyright {
    width: 255px;
    height: 120px;
    margin-left: 157px;
    padding-top: 45px;
  }
}
