.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0;
  padding: 0;
}

.site-list {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-list__item {
  display:block;
  width:320px;
  height:54px;
  margin:0;
  padding:0;

  font: sans-serif;
  font-style: normal;
  font-size:18px;
  line-height:55px;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: 1px solid rgba(1, 1, 1, 0.2);
}

.site-list__item a {
  display: inline-block;
  width:320px;
  height:55px;
  margin:0;
  padding:0;
  
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 0.5px solid rgba(1, 1, 1, 0.2);
}

.main-nav__logo{
  display:flex;
  flex-shrink: 0;
  width:320px;
  height:55px;
  margin:0;
  padding:0;

  background-color: #ffffff;
}

.main-nav__logo-image{
  z-index: 2;

  margin:auto;
}
