.panel {
  position: absolute;
  top: 155px;
  left: 0.1px;
  padding: 0.1px 20px 0.1px;
  outline: 1px solid tomato;
}

.panel__wrap1 {
  width: 280px;
  height: 45px;
  background-color: rgba(1, 1, 1, 0.6);
  outline: 1px solid rgb(71, 255, 86);
}

.panel__part1 {
  width: 240px;
  height: 44px;
  margin-left: 20px;
  padding-top: 22px;
  padding-left: 2px;
  outline: 1px solid rgb(0, 0, 0);
}

.panel__volume-level {
  position: relative;
  display: block;
  width: 235px;
  height: 3px;
  background-color: #858585;
  opacity: 0.6;
}

.panel__volume-level--circle::before {
  content: "";
  position: absolute;
  display: block;
  top: -3.5px;
  left: 34px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.98;
}

.panel__wrap2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  height: 66px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  list-style: none;
  outline: 1px solid #0e07d8;
}

.panel__wrap-replay {
  width: 16px;
  height: 20px;
  margin-left: 25px;
}

.panel__wrap-subtitles {
  width: 32px;
  height: 20px;
  margin-left: 133px;
}

.panel__wrap-fullscreen {
  width: 20px;
  height: 20px;
  margin-left: 31px;
}

.panel__replay path,
.panel__subtitles path,
.panel__fullscreen path {
  fill: #5c6870;
}

.panel__replay:hover path,
.panel__subtitles:hover path,
.panel__fullscreen:hover path {
  fill: #333333;
}

.panel__replay:active path,
.panel__subtitles:active path,
.panel__fullscreen:active path,
.panel__replay:focus path,
.panel__subtitles:focus path,
.panel__fullscreen:focus path {
  fill: #333333;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .panel {
    position: absolute;
    top: 405px;
    left: 0.1px;
    padding: 0.1px 0.1px 0.1px;
    outline: 1px solid tomato;
  }

  .panel__wrap {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .panel__wrap1 {
    width: 648px;
    height: 93px;
    background-color: rgba(1, 1, 1, 0.01);
    outline: 1px solid rgb(71, 255, 86);
  }

  .panel__wrap2 {
    position: absolute;
    top: 0.1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: flex-start;
    align-items: center;
    width: 648px;
    height: 93px;
    margin: 0;
    padding: 0;
    background-color: rgba(1, 1, 1, 0.4);
    list-style: none;
    outline: 1px solid #0e07d8;
  }

  .panel__wrap-replay {
    width: 16px;
    height: 20px;
    margin-left: 35px;
  }

  .panel__wrap-subtitles {
    width: 32px;
    height: 20px;
    margin-left: 473px;
  }

  .panel__wrap-fullscreen {
    width: 20px;
    height: 20px;
    margin-left: 31px;
  }

  .panel__replay path,
  .panel__subtitles path,
  .panel__fullscreen {
    fill: #ffffff;
  }

  .panel__fullscreen:hover {
    fill: #ffffff;
    opacity: 0.6;
  }
}
