.photos-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 414px;
  padding-top: 23px;
  padding-left: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.photos-item__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: @little-font;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.photos-item__author {
  display: block;
  margin: 0;
  padding: 0;

  font-size: @little-font;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.photos-item__likes {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  width: 23px;
  height: 21px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/icon-like.svg");
  cursor: pointer;
}

.photos-item__numbers {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-size: @little-font;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .photos-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 324px;
    height: 347px;
    background-color: #ffffff;
  }

  .photos-item__positionsunset{
    height: 400px;
  }

  .photos-item__picture {
    width: 324px;
    height: 267px;
  }

  .photos-item__sunset {
    margin-left: 40px;
  }

  .photos-item__text-wrap {
    width: 145px;
    height: 60px;
    margin: 0;
    margin-left: 20px;
    margin-top: 8px;
  }

  .photos-item__title {
    margin: 0;
  }

  .photos-item__positionlikes {
    width: 88px;
    height: 60px;
    margin-top: 8px;
  }

  .photos-item__likes {
    display: inline-block;
    margin-top: 13px;
    margin-left: 3px;
    background-color: #f2f2f2;
    opacity: 0.3;
  }

  .photos-item__numbers {
    margin-left: 4px;
  }

  .photos-item__text-wrap1 {
    width: 180px;
    height: 37px;
    margin-left: 20px;
  }

  .photos-item__sunset {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 648px;
    height: 480px;
    background-color: #f2f2f2;
  }

  .photos-item__picture-sunset {
    width: 647px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .photos-list {
    width: 1200px;
  }

  .photos-item {
    position: relative;
    width: 399px;
    height: 267px;
  }

  .photos-item__sunset {
    width: 1200px;
    height: 400px;
  }

  .photos-item__picture-sunset {
    width: 1200px;
    height: 400px;
  }

  .photos-item__title {
    color: #ffffff;
  }

  .photos-item__author {
    color: #ffffff;
  }

  .photos-item__text-wrap {
    position: absolute;
    top: 330px;
    left: 10px;
  }

  .photos-item__positionlikes {
    position: absolute;
    top: 360px;
    left: 1100px;
  }

  .photos-item__numbers {
    color: #ffffff;
  }

  .photos-item__picture {
    width: 400px;
  }

  .photos-item__text-wrap1 {
    position: absolute;
    top: 200px;
    left: 1px;
  }

  .photos-item__positionlikes1 {
    position: absolute;
    top: 230px;
    left: 330px;
  }
}
