.photos-item {
  position: relative;
  display: block;
  width: 320px;
  height: 414px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.photos-item__positionsunset {
  width: 280px;
  height: 280px;
}

.photos-item__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  font-size: @little-font;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.photos-item__author {
  display: block;
  margin: 0;
  padding: 0;
  font-size: @little-font;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.photos-item__likes {
  display: inline-block;
  width: 23px;
  height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/icon-like.svg");
  cursor: pointer;
}

.photos-item__numbers {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-size: @little-font;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .photos-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 324px;
    height: 347px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: none;
  }

  .photos-item__positionsunset {
    width: 768px;
    height: 400px;
  }

  .photos-item__title {
    margin: 0;
  }

  .photos-item__sunset {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .photos-item__picture-sunset {
    width: 647px;
    height: 400px;
  }

  .photos-item__road {
    background-color: #eaeaea;
  }

  .photos-item__div-wrap {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0 20px 2px;
    background-color: #f2f2f2;
  }

  .photos-item__text-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    min-height: 45px;
    margin: 0;
    padding: 0;
  }

  .photos-item__positionlikes {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 63px;
    min-height: 21px;
    margin: 0;
    padding: 0;
  }

  .photos-item__likes {
    margin: 0;
    margin-right: 9px;
    padding: 0;
  }

  .photos-item__numbers {
    margin: 0;
    padding: 0;
  }

  .photos-item__picture {
    width: 324px;
    height: 267px;
  }
}

@media (min-width: @desktop-width) {
  .photos-list {
    width: 1200px;
  }

  .photos-item {
    position: relative;
    width: 399.9px;
    height: 267px;
  }

  .photos-item__positionsunset {
    width: 1199.9px;
    height: 320px;
  }

  .photos-item__div-wrap {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -80px 0 0 rgba(0, 0, 0, 0.3);
  }

  .photos-item__text-wrap {
    color: #ffffff;
  }

  .photos-item__likes {
    background-color: #3024092c;
    background-image: url("../img/icon-like-white.svg");
  }

  .photos-item__sunset {
    width: 1200px;
    height: 400px;
  }

  .photos-item__picture-sunset {
    width: 1200px;
    height: 400px;
  }

  .photos-item__position {
    width: 400px;
    height: 187px;
  }

  .photos-item__picture {
    width: 400px;
    height: 267px;
  }

  .photos-item__title,
  .photos-item__author,
  .photos-item__numbers {
    color: #ffffff;
  }
}
