.places {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  width: 320px;
  text-align: center;

  background-color: @blue;
}

.places__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.places__number {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
}

.places__recomendation {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-size: @little-font;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .places {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 47px 60px;
    width: 255px;
    height: 256px;
  }

  .places__title {
    width: 130px;
    font-size: @large-font;
  }

  .places__number {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
  }

  .places__recomendation {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .places {
    width: 399.9px;
  }

  .places__number {
    margin-bottom: 21px;
  }

  .places__recomendation {
    width: 300px;
    margin: 0;
    padding: 0;
    outline: 1px solid #dd1c1c;
  }

  .places__recomendation br {
    display: none;
  }

  .places__shortrecomendation {
    width: 262px;
  }
}
