.question {
  width: 320px;
  margin-top: 43px;

  padding: 0;
}

.question__text{
  display: block;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align:center;
  text-transform: uppercase;
  color: #000000;
}

.question__content {
  display: block;
  margin-bottom: 35px;
  font-size: @little-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.question__search {
  display: block;
  margin-bottom: 30px;
}