.radio {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  font-weight: 700;
  border: none;
}

.radio__wrap-wrap {
  margin: 0;
  padding: 37px 20px 0 25px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.radio__title {
  display: block;
  width: 318px;
  font-size: @medium-font;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.radio__label {
  position: relative;
  display: block;
  margin-bottom: 21px;
  padding-left: 73px;
  font-size: @medium-font;
  font-weight: 700px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.radio__label--circle::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -6.3px;
  display: block;
  z-index: 10;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.radio__label--circle:hover::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -6.3px;
  display: block;
  z-index: 10;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.radio__label--circle:focus::before,
.radio__label--circle:active::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -6.3px;
  display: block;
  z-index: 10;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #d5d5d5;
}

/* когда у нашего радио-инпута состояние чект, то есть стоит кружок,
то у нас должен бы на нём псевдоэлемента афтер*/

.radio__input:checked + .radio__label--circle::after {
  content: "";
  position: relative;
  top: -24px;
  left: -62px;
  display: block;
  z-index: 10;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

.radio__input:checked + .radio__label--circle:focus::after,
.radio__input:checked + .radio__label--circle:active::after {
  content: "";
  position: relative;
  top: -24px;
  left: -62px;
  display: block;
  z-index: 10;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
}

.radio__wrap {
  display: block;
  height: 69px;
}

@media (min-width: @tablet-width) {
  .radio {
    order: 1;
    width: 383px;
    height: 292px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    border: none;
  }

  .radio__wrap-wrap {
    position: relative;
    margin: 0;
    padding: 37px 20px 0 125px;
    border: none;
  }

  .radio__wrap-wrap--borders::before {
    content: "";
    position: absolute;
    display: block;
    top: -20px;
    left: 383px;
    width: 1px;
    height: 292px;
    border-left: 1px solid rgba(1, 1, 1, 0.1);
  }

  .radio__title {
    width: 382.5px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    font-size: @large-font;
    text-align: center;
  }

  .radio__label {
    margin: 0;
    padding: 0;
  }

  .radio__label--circle::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -75px;
  }

  .radio__label--circle:hover::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -75px;
  }

  .radio__input:checked + .radio__label--circle::after {
    content: "";
    position: relative;
    top: -21px;
    left: -59px;
  }

  .radio__input:checked + .radio__label--circle:focus::after,
  .radio__input:checked + .radio__label--circle:active::after {
    content: "";
    position: relative;
    top: -21px;
    left: -59px;
  }

  .radio__wrap {
    display: block;
    margin-top: 34px;
    padding-left: 10px;
    height: 44px;
  }
}

@media (min-width: @desktop-width) {
  .radio {
    width: 598px;
    margin-top: 25px;
  }

  .radio__title {
    width: 598px;
    margin: 0;
    padding: 0;
    padding-left: 67px;
  }

  .radio__wrap-wrap {
    display: block;
    width: auto;
    padding: 37px 20px 0 187px;
  }

  .radio__wrap {
    display: block;
    width: auto;
  }

  .radio__wrap-wrap--borders::before {
    content: "";
    position: absolute;
    display: block;
    top: -20px;
    left: 600px;
    width: 1px;
    height: 292px;
    border-left: 1px solid rgba(1, 1, 1, 0.1);
  }
}
