.radio {
  border: none;
}

.radio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.radio__one {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.radio__two {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.radio__three {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

