.text1 {
  display: block;
}

.text2 {
  display: inline-block;
}

.text3 {
  display: inline-block;
}

.text4 {
  display: block;
}

@media (min-width: @tablet-width) {
  .test {
    display: block;
    width: 450px;
  }

  .text1 {
    display: inline-block;
    margin: 0;
    margin-left: 40px;
  }

  .text2 {
    display: inline-block;
    margin: 0;
    margin-right: 40px;
  }

  .text3 {
    display: inline-block;
    margin: 0;
  }

  .text4 {
    display: inline-block;
    margin: 0;
  }
}
